*{
  margin: 0px;
  padding: 0px;
}


body{

}

div{

}

.heading{
  /* border: 1px solid red; */
  padding: 100px;
}

.ex-form{
  /* border: 1px solid red; */
}
.ex-form-ta{
  border: none;
  outline: none;
}

/* @media only screen and (max-width: 768px){
  [class*="container"] {

  }
} */
